*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

header {
    grid-area: header;
    background-color: #e00916;
    color: #ffff;
    display: flex;
    padding: 10px 10px;
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
header nav ul {
    display: flex;
    flex-direction: row; 
    gap: 10px;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: #002e6c;
    color: #FFF;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
.grid-container{
    display: grid;
    min-height: 100vh;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-rows: auto auto auto;
}
.Pilotos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.cardPilotos{
    width: 30%;
    min-width: 300px;
    min-height: 320px;
    border: solid 1px black;
    text-align: center;
}
.cardPilotos > img {
    width: 100%;
}
.cardPilotos > .puntos{
    display: flex;
    justify-content: space-between;
}
.informacionPiloto {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 10px; 
}

.informacionPiloto .nombrePiloto{
    flex-grow: 1; 
    text-align: left; 
}

.informacionPiloto > img {
    width: auto;
    height: 1.3em; 
    margin-left: 10px; 
    border: solid 1px #7c7c7d ;
}

/* SECTION CARRERAS */
.Carreras{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    background-color: #15151d;
    color: #FFF;
}
.cardRace{
    border: solid 1px #FFF;
    min-width: 30%;
    padding: 20px;
    text-align: center;
    gap: 10px;
}
.cardRace > img {
    width: 200px; 
    height: 112px;
}
.fecha{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    color: black;
    padding: 0px 15px 0px 15px;
    border-radius: 10px;
}
.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.bandera > img{
    width:20px;
}